<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Fb login</h1>
    <a href="/auth/facebook">Login with facebook</a>
    <img src="https://platform-lookaside.fbsbx.com/platform/profilepic/?asid=2673083819495030&height=50&width=50&ext=1660380778&hash=AeQksa6FDkgJpr-NiAw" alt="Profilepic">
</body>
</html>